.add-container {
  width: fit-content !important;
  margin: 1rem auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 12px;
}
.add-order-container {
  width: 47% !important;
  margin: 3rem auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 12px;
}
.add-order-item-container {
  width: 66% !important;
  margin: 3rem auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 12px;
}

.add-heading {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Tajawal";
  color: white;
}

.label {
  font-size: 18px;
  font-family: "Tajawal";
}

.input {
  width: fit-content !important;
  font-family: "Tajawal" !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  color: rgb(51, 55, 71) !important;
}

.add-btn {
  font-size: 16px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
p {
  font-family: "Tajawal";
  font-size: 18px;
}
@font-face {
  font-family: "Tajawal"; /* Font family name */
  src: url("../fonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype"); /* Path to the font file */
}
